body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  -webkit-background-size: cover; }

#viewport * {
  -webkit-backface-visibility: hidden; }

.section {
  overflow: hidden; }

.fa {
  font-size: 32px;
  color: #999;
  position: absolute;
  bottom: .3rem;
  left: 50%;
  margin-left: -16px; }
.fp-controlArrow.fp-prev{

}
.section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover; }

  .slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover; }
